* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    padding: 0px 10px;
    font-size: 18px;
}


a {
    text-decoration: none;
    color: black;
    transition-duration: 100ms;

}

a:hover {
    color: rgb(11, 91, 52);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d8eff1;
}

.name {
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}

.name h5 {
    padding: 4px 0px;
}