:root {
    --black-first: #47516B;
    --gray-second: #79819A;
    --back-second: #2E2E48;
    --blue-first: #516CF7;
    --grid-one: #F7F9FC;
    --blue-bg: #E1E7FE;
    --purple-bg: #EFE2F9;
    --border-color: #E2E6EE;
    --design-color: #9251F7;
    --li-color: #5531A7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--black-first);
}

.container {
    display: block;
}

/* left style  */
.left {
    width: 100%;
    background: var(--grid-one);
    padding-bottom: 0;
}

.left-top-img {
    width: 100%;
    padding-bottom: 32px;
}

.left-container {
    padding: 0px 32px;
    margin-bottom: 48px;
}


.names-left {
    text-align: center;
}

.names-left h4 {
    font-size: 32px;
    color: var(--back-second);
}

.product-design {
    font-size: 24px;
    background: linear-gradient(to right, #A478E8, #516CF7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    padding-bottom: 32px;
}

.quotes-withText {
    position: relative;
    color: var(--black-first);
    width: 259px;
    margin-left: 70px;
    font-weight: 500;

}

.first-quote {
    position: absolute;
    top: 6px;
    left: 0px;
}

.second-quote {
    position: absolute;
    right: 20px;
    bottom: 3px;
}

.quotes-left p {
    font-size: 18px;
}

.brenda {
    color: var(--gray-second);
    padding-top: 4px;
    padding-bottom: 32px;
}

.left-hr {
    margin-bottom: 32px;
    border-top: 1px solid var(--border-color);
}

/* left-personal info  */
.email-web {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 0px;

}

.address-padding {
    padding-left: 55px;
}

.social-design {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.email-img {
    background: var(--border-color);
    padding: 5px 5px 2px 6px;
    border-radius: 50%;
}

/* socials  */
.social-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 30px;
}

.insta,
.first-twitter {
    order: -1;
}

.linkdin {
    order: 0;
}

.greek {
    padding-left: 100px;
}



.social-design p,
.soc,
.gray {
    color: var(--gray-second);

}

.social-design a,
.social-design h5 {
    color: var(--black-first);
}

.social-design a {
    font-size: 14px;
}

.social-design p {
    font-size: 12px;
}

.first-twitter img {
    width: 60px;
    margin-left: -18px;
}

.twitter-pad {
    margin-left: -10px;
}

.soc {
    padding-bottom: 24px;
}


/* right  */

.right {
    padding: 0px 50px 48px 50px;
}

.right-main-li {
    position: relative;
    color: var(--li-color);
    list-style-image: url(../images/extra/li-black.png);
    padding-left: 32px;
    z-index: 20;
}



.lineHr {
    position: absolute;
    left: -12px;
    top: 21px;
    border-left: 1.2px solid var(--border-color);
    height: 100%
}

.top-name {
    padding-bottom: 32px;
    font-size: 24px;
    color: var(--back-second);
}


/* latest project  */
.projects-div {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 48px;
}


.company {
    position: relative;
    padding-bottom: 24px;
}

.company-hr {
    position: absolute;
    left: -10.5px;
    top: 11px;
    border-left: 1.2px solid var(--grid-one);
    height: 100%
}


/* figma  */

.project-left {
    background: var(--grid-one);
    padding: 24px;
    width: 100%;
}

.fig {
    width: 360px;
    display: flex;
    align-items: start;
    gap: 16px;
}

.fig-bottom {
    padding-bottom: 16px;
}

.fig .gray {
    padding-bottom: 4px;
    width: 232px;
    line-height: 18px;

}

.black {
    color: var(--back-second);
    font-size: 16px;
}



.powerful a {
    color: var(--blue-first);
    font-size: 20px;
    font-weight: 500;
}

.powerful p {
    font-size: 14px;
}

.fig-image {
    background: var(--blue-bg);
    padding: 5px 6px;
    border-radius: 50%;
}


/* experience right  */

.experience-ul .company {
    list-style: url(/assignment-1-resume/images/extra/li-black.png);
    margin-left: 0px;
    padding-left: 0px;
}

.flex-experience {
    display: block;
}

.exp-left {
    color: var(--gray-second);
    width: 212px;
}


.exp-date {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 16px;
    font-size: 10px;
}

.exp-date img {
    width: 10px;
    height: 12px;
}

.exp-logo {
    display: flex;
    align-items: start;
}

.exp-prod {
    padding-top: 8px;
    font-size: 12px;
}

.exp-prod h5 {
    color: var(--back-second);
    font-size: 14px;
    padding-top: 7px;
}

.exp-flex-right {
    color: var(--gray-second);
    width: 390px;
    font-size: 10px;
    padding: 0 10px;
}

/* education  */

.ed-first {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
}

.ed-one {
    background: var(--grid-one);

    padding: 16px 24px;
    width: 100%;
}

.ed-top {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 8px;
    font-size: 12px;
}

.ed-one h5 {
    color: var(--back-second);
    padding-bottom: 2px;
    font-size: 14px;
}

.ed-one p {
    color: var(--gray-second);
    font-size: 10px;

}

/* skills  */


.design {
    display: flex;

}

.left-design {
    padding-right: 75px;
}

.develop {
    padding-right: 40px;
}

.left-design img {
    background: var(--purple-bg);
    padding: 5px 6px;
    border-radius: 50%;
}

.develop img {
    padding: 8px 5px;
}

.left-design h5 {
    font-size: 14px;
    font-weight: 300;
    color: var(--back-second);
    padding-top: 8px;
}

.right-design {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.design-grid {
    flex: 1;
    background: var(--grid-one);
    padding: 23px 16px;
    font-size: 14px;
    height: 83px;
    color: var(--design-color);

}

.design-grid-first {
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
}

.design-grid-first p {
    text-wrap: wrap;

}

.line-design {
    border-left: 1.5px solid var(--border-color);
    height: 30px;
    margin: 0px 10px;
    color: var(--border-color);
}

.js-span {
    display: block;
    border-top: 2px solid var(--border-color);
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 5px;

}

.design-grid ul li {
    list-style: initial;
}

.development {
    color: var(--blue-first);
}


.de-develop {
    padding-top: 20px;
}

/* tools  */

.first-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.figma {
    background: var(--grid-one);
    text-align: center;
    padding: 19px 20px;
    width: 133px;

}

.figma h5 {
    font-size: 14px;
    color: var(--back-second);
    padding-bottom: 2px;
    padding-top: 8px;
}

.figma p {
    font-size: 10px;
    color: var(--gray-second);
}

.bottom-figma {
    width: 133px;
    padding: 19px 26px;
}

.left hr {
    color: var(--border-color);
}

/* li shadow  */
.li-shadow {
    position: absolute;
    left: -25px;
    top: 3px;
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}


@media (min-width:768px) {
    .container {
        display: flex;
        gap: 47px;
    }

    .email-web {
        display: grid;
        margin-left: -22px;
    }

    .left {
        max-width: 356px;
        width: 100%;
    }

    .left-top-img {
        width: 100%;
        max-width: 355px;

    }

    .left-container {
        padding: 0px 48px;
        margin-bottom: 0px;
    }

    .names-left {
        text-align: start;
    }

    .first-quote {
        position: absolute;
        left: -20px;
        top: 6px;

    }

    .social-grid {
        display: grid;
    }

    .quotes-withText {
        margin-left: 0;
    }

    .address-padding {
        padding-left: 0px;
    }

    .greek {
        padding-left: 0px;
    }

    /* right  */
    .right {
        padding-top: 64px;
    }

    .project-left {
        width: 345px;
    }

    .fig {
        width: 290px;
    }

    .experience-ul .company {
        margin-left: 25px;
        padding-left: 10px;
    }

    .flex-experience {
        display: flex;
        gap: 24px;

    }

    .company {
        padding-bottom: 24px;
    }



    .ed-one {
        background: var(--grid-one);
        width: 227px;
        padding: 16px 24px;
    }

    .right-design {
        display: flex;
        flex: 1;
        gap: 10px;
        align-items: center;
        flex-direction: row;

    }


    .design-grid-first {
        display: flex;
        padding: 10px 20px;
        align-items: center;
    }

    .figma {
        background: var(--grid-one);
        text-align: center;
        padding: 19px 30px;
        width: 168px;
        height: 129px;
    }

    .bottom-figma {
        width: 133px;
        padding: 19px 26px;
    }

    .exp-flex-right {

        width: 408px;
        padding: 0px 31px;
    }

    .skills {
        padding-right: 48px;
    }

}