:root {
    --black-first: #47516B;
    --gray-second: #79819A;
    --back-second: #2E2E48;
    --blue-first: #516CF7;
    --grid-one: #F7F9FC;
    --blue-bg: #E1E7FE;
    --purple-bg: #EFE2F9;
    --border-color: #E2E6EE;
    --design-color: #9251F7;
    --li-color: #5531A7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--black-first);
}

.container {
    display: block;
}

/* left style  */
.leftSection {
    width: 100%;
    background: var(--grid-one);
    padding-bottom: 0;
}

.leftSection--img {
    width: 100%;
    padding-bottom: 32px;
}

.contaner__names {
    padding: 0px 32px;
    margin-bottom: 48px;
}


.leftSection__leftSide {
    text-align: center;
}

.leftSection__leftSide h4 {
    font-size: 32px;
    color: var(--back-second);
}

.leftSection__namesProduct {
    font-size: 24px;
    background: linear-gradient(to right, #A478E8, #516CF7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    padding-bottom: 32px;
}

.leftSection__quotes {
    position: relative;
    color: var(--black-first);
    width: 259px;
    margin-left: 70px;
    font-weight: 500;

}

.leftSection__quotes--first {
    position: absolute;
    top: 6px;
    left: 0px;
}

.leftSection__quotes--second {
    position: absolute;
    right: 20px;
    bottom: 3px;
}

.leftSection__quotes p {
    font-size: 18px;
}

.quotes--name {
    color: var(--gray-second);
    padding-top: 4px;
    padding-bottom: 32px;
}

.leftSection__hr {
    margin-bottom: 32px;
    border-top: 1px solid var(--border-color);
}

/* left-personal info  */
.personal__email__web {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 0px;

}

.personalinfo--addressPad {
    padding-left: 55px;
}

.personalinfo__socialDesign {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.personalinfo--emailImg {
    background: var(--border-color);
    padding: 5px 5px 2px 6px;
    border-radius: 50%;
}

/* socials  */
.social__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 30px;
}

.insta,
.personalinfo--firstTwitter {
    order: -1;
}

.linkdin {
    order: 0;
}

.socialDesign--greek {
    padding-left: 100px;
}



.personalinfo__socialDesign p,
.soc,
.projects__gray {
    color: var(--gray-second);

}

.personalinfo__socialDesign a,
.personalinfo__socialDesign h5 {
    color: var(--black-first);
}

.personalinfo__socialDesign a {
    font-size: 14px;
}

.personalinfo__socialDesign p {
    font-size: 12px;
}

.personalinfo--firstTwitter img {
    width: 60px;
    margin-left: -18px;
}

.socialDesign--padding {
    margin-left: -10px;
}

.social__p {
    padding-bottom: 24px;
}


/* right  */

.right {
    padding: 0px 50px 48px 50px;
}

.right__mainLi {
    position: relative;
    color: var(--li-color);
    /* list-style-image: url(images/extra/li-black.png); */
    padding-left: 32px;
    z-index: 20;
    width: 100%;
}



.right__lineHr {
    position: absolute;
    left: -12px;
    top: 21px;
    border-left: 1.2px solid var(--border-color);
    height: 100%
}

.right__topName {
    padding-bottom: 32px;
    font-size: 24px;
    color: var(--back-second);
}


/* latest project  */
.right__projects {
    display: flex;
    gap: 8px;
    padding-bottom: 48px;
}


.expereince__company {
    position: relative;
    padding-bottom: 24px;
}

.expereince__company-hr {
    position: absolute;
    left: -10.5px;
    top: 11px;
    border-left: 1.2px solid var(--grid-one);
    height: 100%
}


/* figma  */

.projects__leftSide {
    background: var(--grid-one);
    padding: 24px;
    width: 100%;
}

.projects__Style {
    width: 360px;
    display: flex;
    align-items: start;
    gap: 16px;
}

.projectStyle--bottom {
    padding-bottom: 16px;
}

.projects__Style .projects__gray {
    padding-bottom: 4px;
    width: 232px;
    line-height: 18px;

}

.projects__black {
    color: var(--back-second);
    font-size: 16px;
}



.projects__powerful a {
    color: var(--blue-first);
    font-size: 20px;
    font-weight: 500;
}

.projects__powerful p {
    font-size: 14px;
}

.projects--images {
    background: var(--blue-bg);
    padding: 5px 6px;
    border-radius: 50%;
}


/* experience right  */

.right__experienceGrid .expereince__company {
    list-style: url(../images/extra/li-black.png);
    margin-left: 0px;
    padding-left: 0px;
}

.expereince__contain {
    display: block;
}

.expereince__leftSide {
    color: var(--gray-second);
    width: 212px;
}


.expereince__date {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 16px;
    font-size: 10px;
}

.expereince__date img {
    width: 10px;
    height: 12px;
}

.expereince__logo {
    display: flex;
    align-items: start;
}

.expereince--prod {
    padding-top: 8px;
    font-size: 12px;
}

.expereince--prod h5 {
    color: var(--back-second);
    font-size: 14px;
    padding-top: 7px;
}

.expereince--containRight {
    color: var(--gray-second);
    width: 390px;
    font-size: 10px;
    padding: 0 10px;
    display: flex;
    flex: 1;
}

/* education  */

.edcutaion__fistContain {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
}

.ed__one {
    background: var(--grid-one);

    padding: 16px 24px;
    width: 100%;
    flex: 1;
}

.ed__top {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 8px;
    font-size: 12px;
}

.ed__one h5 {
    color: var(--back-second);
    padding-bottom: 2px;
    font-size: 14px;
}

.ed__one p {
    color: var(--gray-second);
    font-size: 10px;

}

/* right__skills  */


.design {
    display: flex;

}

.design__left {
    padding-right: 75px;
}

.develop {
    padding-right: 40px;
}

.design__left img {
    background: var(--purple-bg);
    padding: 5px 6px;
    border-radius: 50%;
}

.develop img {
    padding: 8px 5px;
}

.design__left h5 {
    font-size: 14px;
    font-weight: 300;
    color: var(--back-second);
    padding-top: 8px;
}

.design__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.design--grid {
    flex: 1;
    background: var(--grid-one);
    padding: 23px 16px;
    font-size: 14px;
    height: 83px;
    color: var(--design-color);

}

.design--grid--first {
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
}

.design--grid--first p {
    text-wrap: wrap;

}

.design__line {
    border-left: 1.5px solid var(--border-color);
    height: 30px;
    margin: 0px 10px;
    color: var(--border-color);
}

.design--jsSpan {
    display: block;
    border-top: 2px solid var(--border-color);
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 5px;

}

.design--grid ul li {
    list-style: initial;
}

.design--development {
    color: var(--blue-first);
}


.design--develop {
    padding-top: 20px;
}

/* tools  */

.tools__firstGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.tools__imgs {
    background: var(--grid-one);
    text-align: center;
    padding: 19px 20px;
    width: 133px;

}

.tools__imgs h5 {
    font-size: 14px;
    color: var(--back-second);
    padding-bottom: 2px;
    padding-top: 8px;
}

.tools__imgs p {
    font-size: 10px;
    color: var(--gray-second);
}

.tools--bottom {
    width: 133px;
    padding: 19px 26px;
}

.left hr {
    color: var(--border-color);
}

/* li shadow  */
.right__liShadow {
    position: absolute;
    left: -25px;
    top: 3px;
    background: #ffffff;
    padding: 10px 10px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}


@media (min-width:768px) {
    .container {
        display: flex;
        gap: 47px;
    }

    .personal__email__web {
        display: grid;
        margin-left: -22px;
    }

    .leftSection {
        max-width: 356px;
        width: 100%;
    }

    .leftSection--img {
        width: 100%;
        max-width: 355px;

    }

    .contaner__names {
        padding: 0px 48px;
        margin-bottom: 0px;
    }

    .leftSection__leftSide {
        text-align: start;
    }

    .leftSection__quotes--first {
        position: absolute;
        left: -20px;
        top: 6px;

    }

    .social__grid {
        display: grid;
    }

    .leftSection__quotes {
        margin-left: 0;
    }

    .personalinfo--addressPad {
        padding-left: 0px;
    }

    .socialDesign--greek {
        padding-left: 0px;
    }

    /* right  */
    .right {
        padding-top: 64px;
    }

    .projects__leftSide {
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
    }

    .projects__Style {
        width: 290px;
    }

    .right__experienceGrid .expereince__company {
        margin-left: 25px;
        padding-left: 10px;
    }

    .expereince__contain {
        display: flex;
        gap: 24px;

    }

    .expereince__company {
        padding-bottom: 24px;
    }



    .ed__one {
        background: var(--grid-one);
        width: 227px;
        padding: 16px 24px;
    }

    .design__right {
        display: flex;
        flex: 1;
        gap: 10px;
        align-items: center;
        flex-direction: row;

    }


    .design--grid--first {
        display: flex;
        padding: 10px 20px;
        align-items: center;
    }

    .tools__imgs {
        background: var(--grid-one);
        text-align: center;
        padding: 19px 30px;
        width: 168px;
        height: 129px;
    }

    .tools--bottom {
        width: 133px;
        padding: 19px 26px;
    }

    .expereince--containRight {

        width: 408px;
        padding: 0px 31px;
    }

    .right__skills {
        padding-right: 48px;
    }

}